.content {
    width:100%;
    height: 100%;
    padding: 20px;
}
.table {

}
.input {
    border: 1px solid black;
}
.btn > button {
    margin-left: 195px;
    background-color: #4f76a1;
    color: white;
    width: 80px;
    border:none;
    border: 1px solid black;
    cursor: pointer;
}