.content {
    width: 100%;
}
.navbar {
    display: flex;
    min-height: 50px;
    background-color: #14247c;
    color: white;
    justify-content: space-between;
    align-items: center;
}
.navbar > p {
    margin-left: 10px;
    margin-right: 15px;
}
.main {
    display: flex;
    gap:10px;
}
.account {
    width: 25%;
    border:solid 1px;
}
.account > img {
    width: 354px;
    height: 270px;
    border:solid 1px;
}
.account > h3 > a {
    text-decoration: none;
    color: blue;
}
.account > a {
    padding: 10px;
    display: block;
    border: solid 1px;
    text-decoration: none;
    color: gray;
}
.info > img {
    width: 700px;
    height: 300px;
}
.info > h3 {
    margin: 0px;
}
.info > button {
    background-color: blue;
    color: white;
}