body {
    margin: 0px;
}
.content {
    width: 100%;
    height: 1000px;
    background-color: #e9eaee;
}
.navbar {
    display: flex;
    background-color: #4f76a1;
    min-height:50px;
}
.logo {
    color: white;
    margin-left: 200px;
}
.logo > h3 {
    margin: 0px;
    margin-top: 15px;
}
.search > input {
    border-radius: 20px;
    margin-left: 100px;
    background-color: #324766;
    margin-top: 13px;
    border: none;
}
.icon {
    margin-left:-72px;
}
.account {
    display: flex;
}
.panel {
    display: block;
    margin-left: 90px;
    margin-top: 10px;
}
.panel > a {
    display: block;
    margin-top: 10px;
    color: cornflowerblue;
    text-decoration: none;
}
.title {
    margin-left: 70px;
    padding: 20px;
}
.ava {
    width: 220px;
    height: 300px;
    background-color: white;
    justify-content: center;
    display: block;
}
.ava > img {
    width: 200px;
    height: 240px;
    margin: 11px;
}
.ava > button {
    margin-left: 11px;
    border: none;
    width: 200px;
    background-color: gray;
    color: white;
}