body {

}
.content {
    width: 100%;
}
.navbar {
    display: flex;
    min-height: 50px;
    background-color: #84000e;
    color: white;
    justify-content: space-between;
    align-items: center;
}
.login {
    margin-left: 20px;
    font-family: Arial;
    font-size: 24px;
    color: white;
}
.navbar a {
    color: #c55264;
    text-decoration: none;
    margin-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}
.main {
    display: flex;
    background-color: #addbdb;
}
.main > img {
    padding: 20px;
    width: 500px;
    height: 300px;
}
.main > h2 {
    color: #092e2f;
}
.news > p {
    font-size: 20px;
}
.end {
    display: flex;
    gap:15px;
}
.end > h2 {
    text-align: center;
}
.hazard {
    width: 25%;
    border-style: inset;
}
.hazard > img {
    width: 100%;
}
.hazard > h3 {
    margin-left: 10px;
}
.hazard > p {
    margin-left: 10px;
}
.hazard > button {
    color: white;
    margin-left: 10px;
    margin-bottom: 10px;
    background-color: darkred;
}
